@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-sw-text antialiased;
  font-size: 17px;
  line-height: 1.65;
}

a {
  @apply no-underline;
}